html, body, p, th, td, li, dd, dt, pre {
    color: whitesmoke; font-family: 'DejaVu Sans Mono', monospace;
    font-size: 1em;
}

body {
    margin: 0;
}

h3 {
    margin-top: 0;
    padding-top: 0;
}

input[type="text"], input[type="password"] {
    border: none;
    display: inline-block;
    background: #FFF8;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 1em;
    color: whitesmoke;
    padding: 0.2em;
    margin-right: 1em;
}

label {
    margin-right: 0.4em;
}

select {
    border: none;
    background: #FFF8 no-repeat right;
    background-size: contain;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 1em;
    color: whitesmoke;
    padding: 0.2em;
    padding-right: 28px;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2296.154px%22%20height%3D%2296.154px%22%20viewBox%3D%220%200%2096.154%2096.154%22%20style%3D%22enable-background%3Anew%200%200%2096.154%2096.154%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20d%3D%22M0.561%2C20.971l45.951%2C57.605c0.76%2C0.951%2C2.367%2C0.951%2C3.127%2C0l45.956-57.609c0.547-0.689%2C0.709-1.716%2C0.414-2.61%0A%09%09c-0.061-0.187-0.129-0.33-0.186-0.437c-0.351-0.65-1.025-1.056-1.765-1.056H2.093c-0.736%2C0-1.414%2C0.405-1.762%2C1.056%0A%09%09c-0.059%2C0.109-0.127%2C0.253-0.184%2C0.426C-0.15%2C19.251%2C0.011%2C20.28%2C0.561%2C20.971z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}

select[size]{
    background-image:none;
}
button {
    background: whitesmoke;
    border: none;
    padding: 0.4em;
    font-size: 1em;
    color: black;
    font-family: 'DejaVu Sans Mono', monospace;
    cursor: pointer;
    box-shadow: 4px 4px #888A;
}

button:active {
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: none;
}

.form-spacing {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

div.results-panel {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    width: 90vw;
    margin-top: 2em;
    height: 80vh;
    border-style: dashed;
}

.results-subpanel-wide {
    width: 100%;
    padding: 0.5em;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

.results-subpanel {
    width: 49.9%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right-style: dashed;
    border-right-width: thin;
    display: inline-block;
}

/*.results-panel:before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    top: 5px;*/
/*    bottom: 5px;*/
/*    left: 5px;*/
/*    right: 5px;*/
/*    border-style: dashed;*/
/*}*/

.inline-icon {
    margin-right: 0.4em;
}
ul.silent-list {
    list-style: none;
}

.centered {
    text-align: center;
    width: 100%;
    display: inline-block;
}

span.large {
    font-size: 2em;
}

span.semilarge {
    font-size: 1.5em;
}

p.supplementary {
    font-style: italic;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}

p.filename {
    margin-bottom: 0;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

ul.pathview {
    list-style: none;
}
li.pathview {
    margin-right: 1em;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    overflow: hidden;
    margin: auto;
    background: darkgray;
}

.inline-bullet-image {
    width: 16px;

}

ul.no-decorations {
    list-style: none;
    padding-left:0;
}

div.search-bar-element {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
    margin-left: 1em;
    margin-top: 1em;
    max-width: 33%;
}

.filterable-list-selector {
    width: 100%;
}

.filterable-list-holder {

}

li.filterable-list-entry {
    margin-bottom: 0.5em;
    padding-left:0;
}

div.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.information {
    font-style: italic;
    margin-top: 0;
    padding-top: 0.1em;
    margin-bottom: 0;
}

div.chart-holder {
    overflow: hidden;
    width: 400px;
    vertical-align: top;
    display: inline-block;
}

.spinner {
    animation: lds-spinner 1.2s linear infinite;
}

@keyframes lds-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


ul.main-menu-list {
    list-style: none;
    margin-left: 1em;
    max-width: max-content;
}

a {
    color: inherit;
    text-decoration: inherit;
}
li.main-menu-list {
    padding-right: 8px;
    padding-left: 8px;
}

li.main-menu-list:hover {
    background-color: whitesmoke;
    color: black;
}