@(title:String)(cacheBuster:String)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body >
        <div id="app" style='background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/assets/images/vaultdoor.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;  height: 100vh;'></div>
        <script src="@routes.Assets.at("javascripts/bundle.js")?cb=@(cacheBuster)" type="text/javascript"></script>
    </body>
</html>